name: Manual iOS Deploy

on:
  workflow_dispatch:
    inputs:
      build_configuration:
        description: 'Which build configuration to use'
        required: true
        default: 'Staging'
        type: choice
        options:
        - Dev
        - Build
        - Staging
        - Integration
        
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Validate commits and run tests
    if: github.event.pull_request.draft == false
    runs-on: macos-26
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
    
      - name: Validate pull request title
        uses: ./
        with:
          ACTION_TYPE: 'Validate'
          CONTAINS_BREAKING_CHANGE: ${{ steps.detect_breaking_changes.outcome != 'success' }}

      - name: Run Tests
        run: swift test
